server {
# replace values in <>
        add_header Content-Security-Policy upgrade-insecure-requests;
        client_max_body_size    20M;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html index.php;
                server_name <example.web.com>;

     location / {
	#implement reverse proxy adjust port
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://127.0.0.1:<9999>;
       }

    listen [::]:443 ssl; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/<example.web.com>/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/<example.web.com>/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

